---
layout: common
---

<article class="post" itemscope itemtype="http://schema.org/BlogPosting">
  <header class="post">
    <h1 class="post-title"itemprop="name headline">
      {{ page.title }}
    </h1>
    {% if page.subtitle %}<h2 class="subtitle">{{ page.subtitle }}</h2>{%endif %}
    <span class = "post-date">
        {{ page.date | date_to_string | upcase }}
    </span>
  </header>

  <main class="content post" itemprop="articleBody">
    <!-- begin content -->
    {{ content }}
    <!-- end content -->
  </main>
  <hr />
  <footer class="post">
    <p>
      <a href="/colophon">
        &copy; {{ site.time| date: "%Y" }} {{ page.author }}
      </a> /
      <a href = "/notes">More posts</a> /
      <a href="/">Return to index</a>.
    </p>
  </footer>
<script>
  window.MathJax = {
    tex: {
      inlineMath: [['$', '$'], ['\\(', '\\)']],
      displayMath: [['$$', '$$'], ['\\[', '\\]']]
    }
  };
</script>
<script src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
</article>
